<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Email</title>
</head>

<body>
  Hello
  <br> {{name}},
  <br>
  <br> Thanks for registering an account with our decentalized platform! We're excited to have you on board.
  <br> Before we get started, we'll need to verify your email.
  <br>
  <a href="{{url}}" target="_blank">Verify Email</a>
</body>
</html>